*{
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    background-color: rgb(220, 48, 17);
}
h1 {
    color: aqua;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

